.shoe-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg_image.jpeg');
  background-size: cover;
}

.shoe-container .container {
  margin-top: 40vh;
}

.flight-book-form {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg_image.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.booking-form-box {
  max-width: 370px;
  border: 3px solid #ced4da;
  margin: 10% auto 0;
}

.radio-btn {
  margin: 0 20px;
}

.radio-btn .btn {
  margin: 20px 0px 20px 0;
  box-shadow: none;
}

.radio-btn .btn ::after {
  content: '';
  height: 15px;
  width: 15px;
  top: -2px;
  left: -1px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  border: 3px solid #fff;
  visibility: visible;
  border-radius: 50%;
}

.radio-btn .btn:checked::after {
  content: '';
  background-color: #000;
  transition: 0.5s;
}

.radio-btn span {
  color: #fff;
  margin-right: 5px;
  font-size: 15px;
}

.booking-form {
  padding: 0 20px 20px;
}

.booking-form label {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
}

.booking-form input::placeholder {
  color: #fff;
}

.input-grp {
  width: 151px;
  margin-right: 0.5rem;
  display: inline-block;
}

.book {
  font-size: 15px !important;
  border-radius: 0 !important;
  color: #fff !important;
  background: transparent !important;
  box-shadow: none !important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-date::-webkit-calendar-picker-indicator {
  background: transparent !important;
}

.custom-select {
  color: #fff !important;
  font-size: 14px !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background: transparent !important;
}

.custom-select label {
  font-size: 15px !important;
}

.custom-select option {
  color: #333;
}

.flight {
  width: 100%;
  padding: 9px 0;
  margin-top: 0.5rem;
  font-size: 15px;
  border: 1px solid #ced4da !important;
  background: transparent !important;
}

.flight:hover {
  background: #fff !important;
  color: #000 !important;
  transition: 0.5s;
}

/* .seatIcon {
  cursor: pointer;
} */
.seatIcon:hover {
  color: grey;
}

.seatBase {
  display: flex;
  min-width: 32px;
  position: relative;
}
.seatCursor {
  cursor: pointer;
}

.seatIcon:hover::after {
  position: absolute;
  content: attr(info);
  bottom: 75%;
  left: 75%;
  width: max-content;
  background-color: rgb(253, 247, 247);
  color: rgb(212, 34, 34);
  padding: 0.25em 0.5em;
  z-index: 1000;
}

.row row-cols-4 {
  max-width: 370px;
  border: 1px solid #ced4da;
  margin: 10% auto 0;
}

.display-text {
  font-size: 5rem;
}

.btn-default {
  width: 5%;
  padding: 1px 0;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.display-text {
  font-size: 5rem;
}

.btn-default {
  width: 5%;
  padding: 1px 0;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
}
.login-form {
  padding: 0 20px 20px;
}

.login-form label {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
}

.login-form-box {
  max-width: 370px;
  border: 1px solid #ced4da;
  margin: 10% auto 0;
}

.Mileage-form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 370px;
  border: 1px solid #f4fafa;
  margin: 10% auto 0;
  text-align: center;
  /* border-style: solid;
    border-width: 5px; */
  background-color: white;
}
.circle {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #0d9cdf;
  border-radius: 50%;
}
.Mileage-circle {
  display: flex;
  justify-content: center;
}

.payment-gateway {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.payment-gateway {
  background: #2196f3;
  margin: 0 10px;
}

.payment {
  background: #f8f8f8;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.pg-1 {
  display: flex;
  justify-content: space-between;
}

.pg-2 {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn-pg {
  margin-top: 40px;
  background: #2196f3;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #2196f3;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 58px;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-pg {
    margin-top: 20px;
  }
}
