.shoe-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg_image.jpeg");
  background-size: cover;
}

.shoe-container .container {
  margin-top: 40vh;
}


.flight-book-form{
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/bg_image.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.booking-form-box {
    max-width: 370px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;

}

.radio-btn{
    margin: 0 20px;
}

.radio-btn .btn {
    margin: 20px 0px 20px 0;
    box-shadow: none; 
}

.radio-btn .btn ::after {
    content: '';
    height:15px;
    width: 15px;
    top:-2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after {
    content: '';
    background-color: #000;
    transition: 0.5s;

}


.radio-btn span{
    color: #fff;
    margin-right: 5px;
    font-size: 15px; 
}

.booking-form{
    padding: 0 20px 20px;
    
}

.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}

input::placeholder{
    color: #fff !important;
}

.input-grp{
    width: 151px;
    margin-right: 0.5rem;
    display: inline-block;
}

.form-control{
    font-size: 15px !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;
}

.select-date::-webkit-inner-spin-button,
 .select-date::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
}

.select-date::-webkit-calendar-picker-indicator{
    background: transparent !important;
}

.custom-select{
    color: #fff!important;
    font-size: 14px !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.custom-select label{
    font-size: 15px !important;
}


.custom-select option {
    color: #333;
}

.flight{
    width: 100%;
    padding: 9px 0;
    margin-top: 0.5rem;
    font-size: 15px;
    border: 1px solid #ced4da !important;
    background: transparent !important;
}

.flight:hover{
    background: #fff !important;
    color: #000 !important;
    transition: 0.5s;
}

/* .seatIcon {
  cursor: pointer;
} */
.seatIcon:hover {
  color: grey;
}

.seatBase {
  display: flex;
  min-width: 32px;
  position: relative;
}
.seatCursor {
  cursor: pointer;
}

.seatIcon:hover::after {
  position: absolute;
  content: attr(info);
  bottom: 75%;
  left: 75%;
  width: max-content;
  background-color: rgb(253, 247, 247);
  color: rgb(212, 34, 34);
  padding: 0.25em 0.5em;
  z-index: 1000;
}
